@use "variables" as *;

// Set up background image settings
@mixin bg-img($header-height) {
    width: 100%;
    height: calc(1vh * $header-height);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

// Remove default ul styling
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Make ul horizontal
@mixin horizontal-list {
    @include reset-list;
    li {
      display: inline-block;
    }
  }

// Set up <h1> -> <h4> base styling
@mixin base-heading ($font-sizing, $line-height) {
    font-family: $heading-font;
    text-transform: uppercase;
    color: $white;
    font-size: $font-sizing;
    line-height: $line-height;
}

// Base code for positioned images
@mixin positioned-image {
    object-fit: cover;
    height: 100%;
}