@use "variables" as *;

// Set up background image settings
@mixin bg-img {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

// Remove default ul styling
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Make ul horizontal
@mixin horizontal-list {
    @include reset-list;
    li {
      display: inline-block;
      // margin: {
      //   left: -2px;
      //   right: 2em;
      // }
    }
  }

// Set up <h1> -> <h4> base styling
@mixin base-heading ($font-sizing, $line-height) {
    font-family: $heading-font;
    text-transform: uppercase;
    color: $white;
    font-size: $font-sizing;
    line-height: $line-height;
}