@use "variables" as *;
@use "mixins" as *;

.navbar {
    padding-top: 20px;
}

.navbar ul {
    @include horizontal-list;
    display: flex;
    li {
        padding-left: 60px;
    }
}

.navbar a {
    color: $white;
    text-decoration: none;
    @include base-heading (20px, 29px);
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: 0.2s all;
    &:hover, &:focus {
        border-bottom: 2px solid $robin;
        padding-bottom: 6px;
    }
    &.active {
        color: $robin;
    }
}

nav.nav-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 20%;
    a {
        color: $white;
        text-decoration: none;
        @include base-heading (28px, 29px);
        letter-spacing: 1px;
        transition: 0.2s color;
        &:hover, &:focus {
            color: $robin;
        }
    }
}

.contact-links {
    margin-bottom: 20px;
}

.social-links {
    margin-bottom: 18px;
    i {
        font-size: 24px;
        padding-right: 20px;
        transition: 0.2s color;
        &:hover, &:focus {
            color: $robin;
        }
    }
}

.address {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    p {
        margin: -2px 0;
    }
}