// COLOURS
// Robin egg blue
$robin: #86E0F9;
// Spruce
$spruce: #0F614E;
// White
$white: #FFFFFF;
// Dark blue grey
$blue-grey: #0C1423;


// FONTS
$heading-font: "Barlow";
$body-font: "Lato";
$base-font: 1rem;